* {
	background-color: #FCF9E6; 
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-align: center;
}

body {
    background-color: #FCF9E6;
}

h3 {
    background-color: #FCF9E6; 
}

table {
	border-collapse: collapse;
	width: 100%;
	text-justify: center;
	border: none;
}

th,
td {
	border: 1px solid rgb(0, 0, 0, 0.50);
	padding: 8px;
	text-align: center;
}

th {
	background-color: #DBD6B4;
}

td {
	background-color: #EAE7D4;
}

button {
	border: #EAE7D4;
	background-color: #FCF9E6;
	box-shadow: 5px 5px 10px #DBD6B4;
	width: 72px;
}

button:hover {
	border: #EAE7D4;
	background-color: #EAE7D4;
	box-shadow: none;
}

.star{
    width: 24px;
}

.contenedorBoton {
	display: flex;
	justify-content: center;
	/* Centra horizontalmente */
	align-items: center;
}

.edit {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px;
	padding: 10px;
	border: #EAE7D4;
	background-color: #EAE7D4;
	box-shadow: 5px 5px 10px #DBD6B4;
}

.edit:hover {
	border: #DBD6B4;
	background-color: #DBD6B4;
	box-shadow: none;
}